@font-face {
  font-family: "Stackers";
  src: url(../../fonts/stackers.woff2) format("woff2");
}

@font-face {
  font-family: "Didot";
  src: url(../../fonts/didot.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans.woff2) format("woff2"),
    url(../../fonts/OpenSans.woff) format("woff");
}
